header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-one{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    padding: 16px 64px;
}

.logo{
    display: flex;
    justify-content: center;
}

.navbar{
    display: flex;
    justify-content: space-between;
    gap: 32px;
    padding: 24px 64px;
}

.seta{
    width: 24px;
    height: 24px;
}
.div1{
    display: flex;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.txt{
    padding: 112px;
}

.btn-two{
    background-color: black;
    color: white;
    width: 96px;
    height: 48px;
}

.btn-three{
    border: 1px solid black;
    background-color: white;
    color: black;
    width: 96px;
    height: 48px;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 32px;
}

.placeholder{
    padding: 80px;
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.txt>p{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    display: inline;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

footer>.link{
    display: flex;
    justify-content: center;
    gap: 32px;
    padding: 75px;
    align-items: center;
}


.info{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 112px;
    gap: 24px;
    border-top: 1px solid black;
    padding-top: 32px;
}

.logo2{
    gap: 345.5px;
    padding: 36px 300px;
}

